:root{
    --primary-color: #0056b3;
    --secondary-color: #B10F2E;
    --error-color: #E84A5F;
    
}

.dark{
    --primary-color: #212020;
    --secondary-color: #171717;
    --color-text:white;
}

.light{
    --primary-color: #0056b3;
    --secondary-color: white;
    --color-text: black;
}

