.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: var(--secondary-color);
    color:var(--primary-color);;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}